<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans

          http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/data/mongo"
         
>
    
    
 	
		<bean id="ProductRepositoryDummy" class="com.netbuilder.entityrepositoriesimplementations.dummy.ProductRepositoryDummy">
			<property name="dummyData">
				<ref bean="DummyData"/>
			</property>
		</bean>

		
		<bean id="CustomerRepositoryDummy" class="com.netbuilder.entityrepositoriesimplementations.dummy.CustomerRepositoryDummy">
			<property name="dummyData">
				<ref bean="DummyData"/>
			</property>
		</bean>

		<bean id="DummyData" class="com.netbuilder.data.DummyData"/>

		
	
		
</beans>