.subtitle {
	line-height: 130%;
	font-size: 20px;
	text-decoration: underline;
}
#writing{
	float: left;
	margin: 20px;
}
#fixit{
	clear:left;
}
#column2{
	float: left;
	margin: 20px;
	margin-left: 90px;
}
#container{
	margin:auto;
	max-width:802px;
}
#dropmenus{
	float:left;
	margin:70px;
}