@CHARSET "ISO-8859-1";


#centre1 {
	margin-left: 45%;
	
}

#centre2 {
	margin-left: 44.7%;
	
}

#centre3 {
	margin-left: 44.6%;
	
}

#centre4 {
	margin-left: 44.3%;
	
}

#centre5 {
	margin-left: 43.4%;
	
}