@CHARSET "ISO-8859-1";

.carousel .item {
  height: 300px;
}

#carousel-main .item img {
    height : 300px;
    margin : 0 auto;
}

#left-panel {
	float : left;
	width : 50%;
}

#right-panel {
	float : right;
	width:50%;
}

#carousel-left .item img {
    height : 300px;
    margin : 0 auto;
}

#carousel-right .item img {
    height : 300px;
    margin : 0 auto;
}

.carousel {
	margin-bottom : 25px;
}

