/* Colors to use:
		default black: 
		default green: #006600

	
	bootstrap themes : 
		https://bootswatch.com/
*/


.subtitle {
	line-height: 100%;
}
#identify{
	float:left; margin:10px;
}
#topfont{
	font-size: 20px;
}
.container > span:hover:before {
   content: "\2605";
   position: absolute;
}
#space{
	margin-bottom : 300px;
}