/* Colors to use:
		default black: 
		default green: #006600

	
	bootstrap themes : 
		https://bootswatch.com/
*/


.subtitle {
	line-height: 100%;
}
#identify{
	float:left; margin:10px;
}
#topfont{
	font-size: 10px;
}
#totheright{
	float:right;
	font-size:16px;
}