@CHARSET "ISO-8859-1";

#space {
	margin-bottom : 100px;
}

.button {
	background : #006600
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -190px;
}
.footer, .push {
    height: 100px;
}
#centre {
	text-align: center;
}