#formfont{
	font-size:20px;
}
#firstcolumn{
	margin-left:50px;
}
#secondcolumn{
	margin-left:100px;
}
#titlemargin{
	margin-left:250px;
	font-size:25px;
}
#nameline{
	border-bottom:1px solid black;
	padding-left:200px;
}
#surnameline{
	border-bottom:1px solid black;
	padding-left:214px;
}
#addressline{
	border-bottom:1px solid black;
	padding-left:583px;
}
#xaddressline{
	margin-left:50px;
	border-bottom:1px solid black;
	padding-left:655px;
}
#cityline{
	border-bottom:1px solid black;
	padding-left:180px;
}
#postcodeline{
	border-bottom:1px solid black;
	padding-left:108px;
}
#productline{
	margin-left:50px;
	border-bottom:1px solid black;
	padding-left:400px;
}
#productbox{
	margin-left:50px;
	width:550px
}
#quantitybox{
	width:100px;
}
#productgap{
	margin-left:425px;
}