@CHARSET "ISO-8859-1";

#centre {
	margin-left: 45%;
	
}
.squareasd {
    float:left;
    position: relative;
    width: 20%;
    padding-bottom : 20%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.contentasd {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
	color: #006600;
	border-style: solid;
}
.tableasd{
    display:table;
    height:100%;
    width:100%;
}
.table-cellasd{
    display:table-cell;
    
    height:100%;
    width:100%;
	color: purple;

}