/* Author: Sam Raspin */

/* Colors to use:
		default black: 
		default green: #006600

	
	bootstrap themes : 
		https://bootswatch.com/
*/


.subtitle {
	line-height: 100%;
}
#identify{
	float:left; margin:10px;
}
#totheright{
	float:right;
	font-size:16px;
	margin-right: 25%;
}
#footer {
	width:100%;
	height: 100px;
	position: static;
	bottom: 0pt;
	left: 0pt;
	margin-bottom: 0px;
}
.push {
	height: 100px;
}