/* Author: Sam Raspin*/

/* Colors to use:
		default black: 
		default green: #006600

	
	bootstrap themes : 
		https://bootswatch.com/
*/


.subtitle {
	line-height: 100%;
}
#identify{
	float:left; margin:10px;
}
#others{
	font-size: 16px;
	font-style: italic;
}
.container > span:hover:before {
   content: "\2605";
   position: absolute;
}

#carousel-main img {
height:100%;
margin : 0 auto;
}

#carousel-main .item active {
height:100%;
}

.carousel .item {
  height: 300px;
}
#others{
	margin-top : 120px;
	margin-bottom : 20px;
}