#left {
	
	float : left;
	
}

#right {
	
	clear : left;
	
}

#text {
	
	float : left;
	
}

#logo {
	
	margin-left : 10px;
	
	width : 50%;
	
}

.navbar-brand {
	
	padding :0px;
	
	margin-right : -60px;
	
	height : 100px;
	
	
}

#searchbar {
	
}

#home {
	
	margin-top : -8px;
	
}
